<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta charset="utf-8">
        <title>BDE MMI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bde_flex.css" charset="utf-8">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="{{ STATIC_URL }}js/swipe.js"></script>
        <script src="{{ STATIC_URL }}js/bde.js"></script>
    </head>
    <body>
	    <header id="navigation">
        {% block header %}
        <nav>
          <a href="#wrap-home"><img src="{{ STATIC_URL }}img/ic_my_library_books.svg"/><span>News</span></a>
          <a href="#wrap-diapo"><img src="{{ STATIC_URL }}img/ic_collections.svg"/><span>Galerie</span></a>
          <a href="#team"><img src="{{ STATIC_URL }}img/ic_people.svg"/><span>L'équipe</span></a>
          <a href="#contact"><img src="{{ STATIC_URL }}img/ic_public.svg"/><span>Contact</span></a>
        </nav>
		{% endblock %}
        </header>

		<div id="logo">
            <img class="hidden-phone" id="go_articles" src="{{ STATIC_URL }}img/arrow.svg" alt="go to news">
        </div>

		<div id="main">
		{% block main %}
			{% include 'actuevent.html' %}
			{% include 'diapo.html' %}
			{% include 'team.html' %}
		{% endblock %}

			<footer>
			{% block footer %}
				{% include 'footer.html' %}
			{% endblock %}
			</footer>
		</div>
    </body>
</html>
