<div id="contact">
	{% for contact in contacts %}
	<div id="social"><!--
	--><div>
			<a href="https://www.facebook.com/profile.php?id={{ contact.id_facebook }}"><img src="{{ STATIC_URL }}img/fb.svg" alt="Page Facebook"></a>
		</div><!--
		--><div>
			<a href="http://instagram.com/{{ contact.profile_instagram }}"><img src="{{ STATIC_URL }}img/instagram.svg" alt="Page Instagram"></a>
		</div><!--
		--><div>
			<a href="#"><img src="{{ STATIC_URL }}img/get_google_play.svg" alt="Obtenir l'application android"></a>
		</div><!--
		--></div>
	{% endfor %}
	<div id="bde_info">
		Le BDE vous accueil tous les jours à l'IUT 1! :D
	</div>
	<div id="footer-small">
		<p>Ce site est réalisé par de grands fous. Sans copyright. <a href="{% url 'admin:index'  %}">Administration</a></p>
		<p>Propulsé par Django | Hébergé par alwaysdata | HTML5 | CSS3 | Et d'autres trucs</p>
	</div>
</div>
